{% include '../public/header.html' %}
{% include '../public/nav.html' %}
<div>
    <div class="box_list">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="box">
                        <div class="bt"><span>我的口令</span></div>
                        <div class="sz">
                            <span>{{json['my_sum']}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box">
                        <div class="bt"><span>共享口令</span></div>
                        <div class="sz">
                            <span>{{json['share_sum']}}</span>
                        </div>
                    </div>
                </div>
                <!--<div class="col-md-3">-->
                    <!--<div class="box">-->
                        <!--<div class="bt"><span>成功登录</span></div>-->
                        <!--<div class="sz">-->
                            <!--<span>{{json['success_sum']}}</span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-3">-->
                    <!--<div class="box">-->
                        <!--<div class="bt"><span>异常登录</span></div>-->
                        <!--<div class="sz">-->
                            <!--<span>{{json['fail_sum']}}</span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="chart_list">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="box_ct">
                        <div class="bt"><span>图表统计</span></div>
                        <div class="chart">
                            <div id="main" style="width: 100%;height:400px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '../public/footer.html' %}
<script src="https://cdn.bootcss.com/echarts/3.5.4/echarts.js"></script>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    var option = {
        tooltip: {},
        legend: {
            data: ['销量']
        },
        xAxis: {
            data: ["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]
        },
        yAxis: {},
        series: [{
            name: '销量',
            type: 'bar',
            data: [5, 20, 36, 10, 10, 20]
        }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>